@import "tailwindcss";

@font-face {
  font-family: "Lilex";
  font-style: normal;
  font-weight: 700;
  src: url("/fonts/Lilex-Bold.ttf");
}

@font-face {
  font-family: "Lilex";
  font-style: italic;
  font-weight: 700;
  src: url("/fonts/Lilex-BoldItalic.ttf");
}

@font-face {
  font-family: "Lilex";
  font-style: normal;
  font-weight: 200;
  src: url("/fonts/Lilex-ExtraLight.ttf");
}

@font-face {
  font-family: "Lilex";
  font-style: italic;
  font-weight: 200;
  src: url("/fonts/Lilex-ExtraLightItalic.ttf");
}

@font-face {
  font-family: "Lilex";
  font-style: italic;
  font-weight: 400;
  src: url("/fonts/Lilex-Italic.ttf");
}

@font-face {
  font-family: "Lilex";
  font-style: normal;
  font-weight: 500;
  src: url("/fonts/Lilex-Medium.ttf");
}

@font-face {
  font-family: "Lilex";
  font-style: italic;
  font-weight: 500;
  src: url("/fonts/Lilex-MediumItalic.ttf");
}

@font-face {
  font-family: "Lilex";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/Lilex-Regular.ttf");
}

@font-face {
  font-family: "Lilex";
  font-style: normal;
  font-weight: 100;
  src: url("/fonts/Lilex-Thin.ttf");
}

@font-face {
  font-family: "Lilex";
  font-style: italic;
  font-weight: 100;
  src: url("/fonts/Lilex-ThinItalic.ttf");
}

@theme {
  --color-light: #f0edec;
  /* --color-night: #242839; */
  --color-night: #1a1b2a;
  --color-purple: #ab9df2;
  --color-red: #ff6188;
  --color-blue: #78dce8;
  --color-green: #a9dc76;
  --color-yellow: #ffd866;
  --color-orange: #fc9867;

  --font-lilex: "Lilex";
}

@layer utilities {
  body {
    @apply text-light font-lilex bg-night;
  }

  /* Responsive images everywhere */
  img {
    @apply max-w-full h-auto;
  }

  p {
    @apply text-purple;
  }

  h1 {
    @apply text-5xl text-red pb-4;
  }

  h2 {
    @apply text-4xl text-orange;
  }

  h3 {
    @apply text-3xl text-blue;
  }

  h4 {
    @apply text-2xl text-green;
  }

  h5 {
    @apply text-xl text-yellow;
  }

  h6 {
    @apply text-lg text-orange;
  }

  a {
    @apply text-purple;
  }

  a:hover {
    @apply underline;
  }

  strong {
    @apply text-purple;
  }

  /* ul { */
  /*   @apply sm:text-lg; */
  /* } */
}
