{% extends "base.html" %} {% block content %}
<div>
  <div class="flex flex-row items-start justify-center space-x-10 mx-auto">
    <img src="/assets/cat.svg" alt="cat pfp" class="w-40 sm:w-56 md:w-72" />
    <div class="flex flex-col items-start justify-start text-left">
      <h6 class="mb-2 text-purple"><span class="text-red">></span> fetch</h6>
      <ul class="text-purple whitespace-nowrap overflow-x-auto text-left">
        <li><span class="text-red">name:</span> nived s mohan</li>
        <li>
          <span class="text-red">edu:</span> cs
          <span class="text-orange">@</span> mitblr
        </li>
        <li>
          <span class="text-red">exp:</span> ex-backend dev
          <span class="text-orange">@</span> adc-mitblr
        </li>
        <li>
          <span class="text-red">gh:</span>
          <a
            href="https://github.com/NNNiv"
            class="inline-flex items-center space-x-1"
          >
            <span>nnniv</span>
            <img src="/assets/hyperlink.svg" alt="hyperlink" class="w-3" />
          </a>
        </li>
        <li>
          <span class="text-red">lnkdin:</span>
          <a
            href="https://www.linkedin.com/in/nived-s-mohan"
            class="inline-flex items-center space-x-1"
          >
            <span>nived-s-mohan</span>
            <img src="/assets/hyperlink.svg" alt="hyperlink" class="w-3" />
          </a>
        </li>
        <li>
          <span class="text-red">mailto:</span>
          <a
            href="mailto:nivroh2016@gmail.com"
            class="inline-flex items-center space-x-1"
          >
            <span>nivroh2016@gmail.com</span>
            <img src="/assets/hyperlink.svg" alt="hyperlink" class="w-3" />
          </a>
        </li>
        <li>
          <span class="text-red">twt:</span>
          <a
            href="https://x.com/nivedtwt"
            class="inline-flex items-center space-x-1"
          >
            <span>@nivedtwt</span>
            <img src="/assets/hyperlink.svg" alt="hyperlink" class="w-3" />
          </a>
        </li>
        <div class="flex pt-2 space-x-1">
          <div class="w-6 h-6 bg-purple"></div>
          <div class="w-6 h-6 bg-orange"></div>
          <div class="w-6 h-6 bg-red"></div>
        </div>
      </ul>
    </div>
  </div>
  <div
    class="flex flex-row flex-nowrap space-x-4 md:space-x-10 items-center justify-center pt-10 whitespace-nowrap overflow-x-auto"
  >
    <div class="flex flex-row space-x-3">
      <h6 class="text-purple">tat</h6>
      <h6>tvam</h6>
      <h6 class="text-red">asi</h6>
    </div>
    <div class="flex flex-row space-x-3">
      <h6 class="text-purple">तत्</h6>
      <h6>त्वम्</h6>
      <h6 class="text-red">असि</h6>
    </div>

    <div class="flex flex-row space-x-3">
      <h6 class="text-purple">തത്‌</h6>
      <h6>ത്വം</h6>
      <h6 class="text-red">അസി</h6>
    </div>
  </div>
  <div>
    <h6 class="pt-12">recent posts</h6>
  </div>
</div>
{% endblock content %}
