{% extends "base.html" %} {% block content %}
<div>

  <div
    class="flex flex-col sm:flex-row items-center sm:items-center justify-center gap-6 sm:gap-10 mx-auto w-full"
  >
    <img
      src="/assets/cat.svg"
      alt="cat pfp"
      class="w-48 sm:w-56 md:w-72 max-w-full h-auto"
    />
    <div
      class="flex min-w-0 w-full sm:w-auto flex-col items-start justify-start text-left"
    >
    <p class="text-red pb-3"><span class="text-orange">❯</span> fetch</p>
      <ul class="text-purple sm:whitespace-nowrap text-left break-words">
        <li>
        <span class="text-red">󱆀 : </span> CSE
          <span class="text-orange">@</span> MIT Bengaluru
        </li>
        <li>
          <span class="text-red">󱔟 : </span> Trainee SDE
          <span class="text-orange">@</span> Mphasis
        </li>
        <li>
          <span class="text-red"> : </span>
          <a
            href="https://github.com/NNNiv"
          >
          nnniv <span class="text-orange text-sm"></span>
          </a>
        </li>
        <li>
          <span class="text-red">󰌻 : </span>
          <a
            href="https://www.linkedin.com/in/nived-s-mohan"
          >
            nived-s-mohan <span class="text-orange text-sm"></span>
          </a>
        </li>
        <li>
          <span class="text-red"> : </span>
          <a
            href="mailto:nivroh2016@gmail.com"
          >
            nivroh2016@gmail.com <span class="text-orange text-sm"></span>
          </a>
        </li>
        <li>
          <span class="text-red"> : </span>
          <a
            href="https://x.com/nivedtwt"
          >
            @nivedtwt <span class="text-orange text-sm"></span>
          </a>
        </li>
        <div class="flex pt-2 space-x-1 text-night">
          <div class="swatch w-6 h-6 bg-purple"><span>#ab9df2</span></div>
          <div class="swatch w-6 h-6 bg-orange"><span>#fc9867<span></div>
          <div class="swatch w-6 h-6 bg-red"><span>#ff6188</span></div>
        </div>
      </ul>
    </div>
  </div>
  <div class="pt-10 text-center">
    <p>design, <span class="text-orange">distributed systems</span>, <span class="text-red">blogs</span>, maybe even some <span class="text-orange">reverse engineering</span></p>
    <p class="pt-5 text-red">stay tuned for content <span class="text-purple">(when I finally decide to finish this website)</span></p>
  </div>
</div>
{% endblock content %}
